body{
    min-height: 200%;
    margin: 0;
    background-color: rgba(192, 226, 236, 0.158);
}

.navbar{
    display: inline-flex;
    position: absolute;
    left: 28%;
    top: 8%;
    z-index: 1;
    background-color: transparent;
    text-align: center;

}

.navbar-toggler{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    font-size:110%;
    font-weight: bolder;
    text-align: center;
    opacity: 0.4;

}


.navbar-text{
    display: flex;
    width: 100%;
}

.nav-link{
    color: black;
    padding: 4%;
    background-color:transparent;
    opacity: 0.4;

}
.nav-link:hover{
    opacity:1;
    font-size:140%;
}
/*Container*/
#papaContainer{
    background-color: rgba(187, 236, 233, 0.356);
    position: relative;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 30%;

}

#additionalinfo{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    position: relative;
    background-color: transparent;
    padding-bottom: 20px;
    font-size: 70%;
    left: 800px;
}

#Csscolored:link{
color: rgb(49, 47, 47);
}

#text-center{
    position:relative;
    display: inline-flex;
    float: center;
    padding: 2%;
    width: 20%;
    font-weight: bolder;
}

#underscoreblue{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: -50px;
    letter-spacing: 2px;
    width: initial;
    background-color: rgba(0, 0, 0, 0.027);
    font-size: 110%;
    color: rgba(0, 0, 0, 0.719) ;
}

#hr1{
    z-index: 1; 
    width: 50%;
}
#text-header{

display: inline;
padding: 0%;
border: solid 0.5px transparent;
font-weight: thin;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                                       
top: 25%;
position:relative;
}

#underscoreblack{
position: relative;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:transparent;
font-size: 20px;
color: rgb(85, 85, 85) ;
}

/*Blog page Container*/
.blog-conatiner{
    position: relative;
    top:120px;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: rgba(187, 236, 233, 0.356);
    
}

/*Contact page Container*/
.contact-conatiner{
    position: relative;
    top:120px;
    left: 0%;
    width: 100%;
    height: 30%;
   background-color: rgba(187, 236, 233, 0.356);

}
/*MUSIC LIST*/

#listG{
    margin-top:5%;
    left: 27%;
    border:ridge 1px transparent;
    top: 38%;
    position:absolute;
    display: inline-block;
    width: 22%;
}

#listgroupone{
    background-color: transparent;
    border: 0;
    width: 100%;
}

    #Srcone{
        margin-bottom: 5%;
        width: 100%;
        height: 100px;
    
           }

/*FOooter*/ 

#foot-d{
    position: relative;;
    height: 115px;
    width: 80%;
	text-align: inherit;
	padding: 10px 100px;
    background: url(vertical-waves.png) repeat fixed;
    background-color: transparent;
	background-size: 100%;	
    opacity: 1;
	left: 10%;
    z-index:0;
    margin-top:65%;

	box-shadow: 5px 60px 5px 20px rgba(43, 64, 70, 0.486);   
	box-sizing: border-box;

}

#Box1 {
	position: relative;
	top: 40px;
	left: 24%;
	font-size: 16px;
	margin: 0;
    background-image: url(vertical-waves.png) repeat fixed;
    background-size: 100%;	
    border-style:solid;
    color: #311d1d;
	border-width: 9px thin thin 6px;
	background-color: transparent;

}

#person {
	display: inline;
	font-size: 16px;
	margin: 8px;
    color: #173c74;
    background-color: transparent
}

#foot-co-at{
    position: absolute;
    right: 75%;
    top: 40%;
    width: 20%;
	font-size: 20px;
	font-weight: lighter;

}

#foot-rh a {	
	position: absolute;
	bottom: 55px;
	right: 90px;
	font-size: 15px;
	color: #000000;
	text-align: left;
	margin: 10px;
}
	    #Aone:hover{

		background-color: rgba(255, 255, 255, 0.733);
	}
	